/* Global Styles -------------*/
* {
  box-sizing: border-box;
}
body{
 font-family: 'Open Sans', sans-serif;
 color:#878787;
 padding:0;
 margin:0;
 
}
/* Header Styles -------------*/
header{
  height:500px;
  background:url("../Img/n.jpg") no-repeat;
/* background:#ffa949 url("../img/subhash.jpg") no-repeat;*/
}
/* Pseudo classes-----------*/
/* Main Styles--*/
/* Web Fonts -------------*/